@media (max-width: 768px) {
    h1 {
        font-size: 24px;
    }

    h2 {
        font-size: 16px;
    }

    .secao-destaque h3 {
        font-size: 20px;
    }

    .secao-destaque h4 {
        font-size: 18px;
    }

    .imagem-logotipo {
        width: 120px;
    }

    .secao-destaque p {
        line-height: 24px;
    }
}

@media (max-width: 480px) {
    h1 {
        font-size: 20px;
    }

    h2 {
        font-size: 14px;
    }

    .secao-destaque h3 {
        font-size: 18px;
    }

    .secao-destaque h4 {
        font-size: 16px;
    }

    .imagem-logotipo {
        width: 100px;
    }

    .secao {
        padding: 0 10px;
    }

    .secao-destaque p {
        line-height: 22px;
    }

    .imagem-banner {
        max-width: 100%;
        height: auto;
    }
}

@media (max-width: 360px) {
    h1 {
        font-size: 18px;
        margin-top: 20px;
        padding-top: 20px;
    }

    h2 {
        font-size: 14px;
    }

    .secao-destaque h3 {
        font-size: 16px;
    }

    .secao-destaque h4 {
        font-size: 14px;
    }

    .imagem-logotipo {
        width: 80px;
    }

    .imagem-banner {
        width: 100%;
        height: auto;
    }

    .secao-destaque p {
        width: 100%;
        line-height: 20px;
        font-size: 14px;
    }

    a {
        margin: 0 5px;
        font-size: 12px;
    }

    span {
        font-size: 12px;
    }

    .secao-destaque img {
        width: 100%;
        max-width: 300px;
    }
}