body {
    background-color: #f4f0e5;
    font-family: Tahoma;
    margin: 0;
    padding: 0;
    word-wrap: break-word;
    overflow-x: hidden;
}

.secao {
    width: 90%;
    max-width: 700px;
    margin: 20px auto;
    text-align: center;
}

.imagem-logotipo {
    width: 150px;
}

a {
    margin: 0 10px;
    color: #542f0c;
    cursor: pointer;
    text-decoration: none;
    font-size: 14px;
}

a:hover {
    color: rgb(105, 133, 58);
}

h1 {
    font-size: 28px;
    padding-top: 30px;
    margin-top: 30px;
    margin-bottom: 0;
    border-top: 1px solid #de8e37;
    text-align: center;
}

h2 {
    font-weight: normal;
    color: #de8e37;
    margin-top: 10px;
    font-size: 18px;
}

.imagem-banner {
    width: 100%;
    max-width: 700px;
    height: auto;
}

.secao-destaque {
    background-color: #de8e37;
    padding-top: 15px;
    padding-bottom: 15px;
    color: #fff;
    text-align: center;
}

.secao-destaque h3 {
    font-size: 24px;
}

.secao-destaque h4 {
    font-size: 20px;
    margin-bottom: 10px;
}

.secao-destaque img {
    margin-top: 6px;
    width: 100%;
    max-width: 400px;
}

.secao-destaque p {
    width: 100%;
    max-width: 500px;
    margin: 0 auto;
    line-height: 30px;
    font-size: 16px;
}

span {
    font-weight: bold;
}